/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #f8f9fa;
  }

/* styles.css */


.headshot {
  text-align: center;
  margin-bottom: 20px;
}

.headshot img {
  width: 300px; /* Adjust the size as needed */
  border-radius: 50%;
}